@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Cormorant+SC:wght@300&family=Dancing+Script&family=Montserrat&family=Playfair+Display+SC&family=Square+Peg&display=swap');

body{
    margin: 0;
    padding: 0;
}
/* la boite au dessus des liens */
.box-top {
    display: grid;
    grid-template-columns: 30% 1fr 15% 10%;
    align-items: center;
    padding: 5px;

}
.box-logo{
    text-align: center;
    padding: 0;
    margin: 0;
}
.box-lien {
    text-align: end;
}
.box-lien a {
    text-decoration: none;
    color: black;
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
}
.box-con {
    text-align: center;
    align-items: center;
}
.box-con a {
    margin-left: 5px;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.button-chauf{
    padding: 10px;
    background-color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: 0;
    border-radius: 2px;
    font-size: larger;
    font-weight: bold;
}
.button-chauf a {
    color: white;
    text-decoration: none;
}

/* La boite des liens */

.box-nav{
    width: 100%;
    align-items: center;
    text-align: center;
    
    padding: 20px;
    background-color: white;
}
.box-nav a {
    text-decoration: none;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .sticky + .content {
    padding-top: 60px;
  }

/* La boite de presentation */

.box-titre {
    align-items: center;
    text-align: center;
    
}
.box-titre h3 {
    font-family: 'Montserrat', sans-serif;
}
.box-titre h1 {
    font-family: 'Montserrat', sans-serif;
}

/* Boite volant */ 

.box-volant {
    position: fixed;
    top: 50%;
}