body{
    background-color:red; 
}

.logo:hover{
        transform: scale(1.15);
}
.logo{
    animation: rotation 5s infinite linear;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
    
  }
 